{% extends "base.html" %}

{% block title %}
Card Detail
{% endblock %}



{% load static %}
{% block content %}




<nav class="purple darken-2">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input disabled id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons"><a class="text-light" href="{% url 'order_details' %}">arrow_back</a></i></label>

        </div>
      </form>
    </div>
</nav>



    {% if account.card_number %}
        <div class="container mt-3">
            <form action="{% url 'premium_order_checkout' %}" method="post">
                {% csrf_token %}
                <input  type="text" name="price" value="{{ price }}" required class="form-control" hidden>

                <div class="form-group">
                    <label>Account Name:</label>
                    <input type="text" hidden name="id" value="{{ account.id }}" required class="form-control">
                </div>

                <div class="form-group">
                    <label hidden>Account Name:</label>
                    <input type="text" name="name" value="{{ account.name }}" required class="form-control">
                </div>
                <div class="form-group">
                    <label>Card Number:</label>
                    <input type="text" name="card_number" value="{{ account.card_number }}" required class="form-control">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Expiry Date:</label>
                            <div class="row">
                                <div class="col s2">
                                    <input type="text" maxlength="2" minlength="2" name="month" value="{{ account.card_month }}" required class="form-control">
                                </div>
                                <div class="col s2">
                                    <input type="text" name="year" maxlength="2" minlength="2" value="{{ account.card_year }}" required class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label>CVV:</label>
                            <input type="text" name="cvv" value="{{ account.cvv }}" required class="form-control">
                        </div>

                    </div>
                    <div class="form-group">

                        <button type="submit" class="form-control btn btn-success">Pay Now</button>
                    </div>
                </div>

            </form>
        </div>

    {% endif %}
{% endblock %}
