{% extends "base.html" %}



{% block title %}
Username
{% endblock %}



{% block content %}
{% include 'topbar.html' %}


<div class="container">
  <div class="col s12 m7">
    <h4 class="header">User Detail</h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h6>
            <span class="font-weight-bold "><a href="{% url 'userdetailsview' %}" class="text-dark" style="text-decoration: none;"> User Deails </a></span>
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h6>
            <span class="font-weight-bold "><a href="{% url 'change_password' %}" class="text-dark" style="text-decoration: none;"> Change Password </a></span>
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h6>
            <span class="font-weight-bold "><a href="{% url 'order_details' %}" class="text-dark" style="text-decoration: none;"> Orders</a></span>
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h6>
            <span class="font-weight-bold "><a href="{% url 'feedback' %}" class="text-dark" style="text-decoration: none;"> Feedback </a></span>
          </h6>
        </div>
      </div>
    </div>
  </div>

</div>




{% endblock %}